html,
body {
  height: 100%;
  min-width: 1200px;
  background-color: $green-l;
}
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42;
}
.content {
  flex: 1 0 auto;
  position: relative;
}
a{
  text-decoration: none;
  color: $green-d;
  &:hover{
    text-decoration: underline;
  }
}
select,
input,
textarea{
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42;
}
input:focus,
select:focus,
textarea:focus,
button:focus{
  outline: none;
}
textarea{
  resize: vertical;
}
button{
  border: 0;
  margin: 0;
  padding: 0;
}
.container{
  width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
.hidden{
  overflow: hidden;
}
.g-hidden{
  display: none;
}
.flex{
  display: flex;
  &_sb{
    justify-content: space-between;
  }
}
.flex-3{
  width: 75%;
}
.flex-1{
  width: 25%;
}
.h-l{
  text-transform: uppercase;
  font-weight: $bold;
  font-size: 22px;
}
.h-m{
  text-transform: uppercase;
  font-weight: $bold;
  font-size: 20px;
}
.h-s{
  text-transform: uppercase;
  font-weight: $bold;
  font-size: 16px;
}
.red{
  color: $red;
}
.slick-arrow{
  position: absolute;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-image: url('images/next.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  background-size: contain;
  border: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  &:focus{
    outline: none;
  }
}
.slick-prev{
  transform: rotate(180deg);
}
.bg-green{
  background-color: $green-l;
}
.color-green{
  color: $green-d;
}
.page{
  padding-bottom: 40px;
}
.page-topline{
  background-color: $gray-l;
  margin-bottom: 20px;
}
.sidebar-left{
  flex: 0 0 auto;
  width: 200px;
  margin-right: 30px;
}
.sidebar-right{
  flex: 0 0 auto;
  width: 250px;
  margin-left: 30px;
  background-color: $white;
  border-radius: 10px;
  padding: 20px;
}
.page-center{
  flex: 1 1 auto;
  background-color: $white;
  border-radius: 10px;
  padding: 20px;
}
strong{
  font-weight: $bold;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.icons-line{
  justify-content: flex-end;
  .material-btns{
    color: $black;
    margin-left: 3px;
  }
}