.btn-link{
  display: inline-block;
  &:hover{
    text-decoration: none;
  }
}
button{
  cursor: pointer;
  background-color: transparent;
}
.material-btns{

}
.btn-green{
  background-color: $green-m;
  border-radius: 5px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: $bold;
  color: $white;
}