//colors
$black: #000;
$white: #fff;

$green-d: #00783a;
$green-m: #85c200;//#b0d628;
$green-l: #f5f7e3;

$yellow-d: #f0e000;
$yellow-l: #fff8bd;

$gray-d: #9d9e9e;
$gray-l: #ebecec;

$red: #e61717;

//font-weight
$normal: 400;
$bold: 700;