.vacancies-detail{
  &__h{
    color: $green-d;
  }
  &__head{
    margin-bottom: 10px;
    position: relative;
  }
  &__name{
    flex: 1 1 auto;
  }
  &__citydate{
    font-size: 13px;
  }
  &__img{
    @include bg-img(70%);
    width: 130px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid $gray-d;
    margin-left: 10px;
    flex: 0 0 auto;
  }
  &__prev{
    margin-bottom: 20px;
  }
  &__info{
    padding: 10px;
    background-color: $yellow-l;
    margin-bottom: 20px;
  }
  &__info1{
    margin-bottom: 10px;
  }
  &__info11{
    width: 200px;
    flex: 0 0 auto;
    margin-right: 10px;
  }
  &__info2{
  }
  &__info-zp{
    width: 100px;
    flex: 0 0 auto;
    margin-left: 10px;
    text-align: right;
  }
  &__info-zpl{
    color: $red;
    font-weight: $bold;
  }
  &__info-zpp{
    color: $red;
    font-weight: $bold;
    font-size: 18px;
  }
  &__coments{
    padding: 10px;
    background-color: $yellow-l;
    margin-bottom: 20px;
  }
  &__coments-ttl{
    font-weight: $bold;
    text-transform: uppercase;
    margin-right: 10px;
  }
  &__bl-h{
    font-weight: $bold;
    margin-bottom: 10px;
    font-size: 20px;
  }
  &__bl-row{
    margin-bottom: 10px;
  }
  &__bl-c1{
    flex: 0 0 auto;
    margin-right: 20px;
    width: 200px;
  }
}