.cards-vacancies
    .cards-vacancies__h
        .h-l Последние #{activeMenu} в Архангельске
    .cards-vacancies__list
        .cards-vacancies__item.selected.flex
            .cards-vacancies__l
                .cards-vacancies__head.flex.flex_sb
                    a.cards-vacancies__ttl.h-s(href="#") Новая модель организационной
                    .cards-vacancies__price 120 000 руб.
                .cards-vacancies__prev Новая модель организационной деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации
                .cards-vacancies__bottom Архангельск 11.11.2017

            .cards-vacancies__r
                a.cards-vacancies__img(href="#" style="background-image:url('http://www.idalgo.net/images/logo/logo-vedtranzit-b.png')")
                a.cards-vacancies__company(href="#") ООО "БалтТехМаш"
        - for (var i=1; i<=5; i++)
            include _vacancies-item

