.caregoties
    .caregoties__h
        .h-l #{activeMenu} в архангельске по рубрикам
    ul.caregoties__list
        - for (var i=1; i<=10; i++)
            li.caregoties__item
                a.caregoties__link(href="#") Административная работа
            li.caregoties__item
                a.caregoties__link(href="#") Менеджмент, управление
            li.caregoties__item
                a.caregoties__link(href="#") Бухгалтерия, банки, финансы