.news-item.flex
    .news-item__cnt
        a.news-item__ttl(href="#").h-s Новая модель организационной деятельности влечет за собой
        .news-item__date 11.11.2016
        .news-item__prev Новая модель организационной деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации
        a.news-item__more(href="#") Читать далее
    a.news-item__img(href="#" style="background-image:url('https://picsum.photos/120')")