.read-also
    .read-also__h.h-s Читайте также
    .read-also__list.flex.flex_sb
        - for (var i=1; i<=2; i++)
            .read-also__item.flex
                a.read-also__img(href="#" style="background-image:url('https://picsum.photos/100')")
                .read-also__cnt
                    .read-also__prev Равным образом рамки и место обучения
                    a.read-also__more(href="#") Читать далее