.cards__item.flex
    .cards__l
        a.cards__img(href="#" style="background-image:url('https://www.lipstiq.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-15-at-11.13.10.png')")
    .cards__c
        a.cards__ttl.h-s(href="#") Новая модель организационной деятельности влечет
        .cards__prev Новая модель организационной деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации
        .cards__bottom Архангельск 11.11.2017
    .cards__r
        .cards__s <strong>пол:</strong> женский
        .cards__s <strong>возраст:</strong> 20
        .cards__zp.
            з/плата<br>
            от 20 000 руб.