.sidebar-vacan-contest
    .sidebar-vacan-contest__h.h-s Конкурс на вакансию
    .sidebar-vacan-contest__item
        a.sidebar-vacan-contest__ttl(href="#") Название вакансии
        .sidebar-vacan-contest__body.flex
            a.sidebar-vacan-contest__img(href="#" style="background-image:url('https://picsum.photos/100')")
            .sidebar-vacan-contest__txt
                a.sidebar-vacan-contest__comp-name(href="#") ООО "Севамашстройпрод"
                .sidebar-vacan-contest__comp-city Санкт-Петербург
    a.sidebar-vacan-contest__more(href="#") Посмотреть все конкурсы