.sidebar-categories
    .sidebar-categories__h.h-s #{activeMenu} по рубрикам
    ul.sidebar-categories__list
        - for (var i=1; i<=2; i++)
            li.sidebar-categories__item
                a.sidebar-categories__link(href="#") Ресторан, общепит
            li.sidebar-categories__item
                a.sidebar-categories__link(href="#") Административная работа
            li.sidebar-categories__item
                a.sidebar-categories__link(href="#") Промышленность