.sidebar-hot
    .sidebar-hot__h.h-s Вакансии <span class="red">Срочно!</span>
    .sidebar-hot__list
        .sidebar-hot__item
            a.sidebar-hot__ttl(href="#") Повар
            .sidebar-hot__label в рестора н центре города
        .sidebar-hot__item
            a.sidebar-hot__ttl(href="#") Специалист по кадрам
            .sidebar-hot__label в рестора н центре города
        .sidebar-hot__item
            a.sidebar-hot__ttl(href="#") Администратор
            .sidebar-hot__label в рестора н центре города