.sidebar-last-rezume
    .sidebar-last-rezume__h.h-s Последние резюме
    .sidebar-last-rezume__list
        - for (var i=1; i<=3; i++)
            .sidebar-last-rezume__item
                a.sidebar-last-rezume__ttl(href="#") Администратор
                .sidebar-last-rezume__prev в ресторан в центре города