.tab.tab-profile
    .tab-profile__cnt.flex
        .tab-profile__l
            .tab-profile__img2(style="background-image:url('https://www.lipstiq.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-15-at-11.13.10.png')")
            .mess
                .mess__item.mess__item_green.flex
                    .mess__cnt 3
                    button.mess__btn Входящие
                .mess__item.mess__item_yellow.flex
                    .mess__cnt 0
                    button.mess__btn Важные
        .tab-profile__r
            .tab-profile__r-prev
                p Пол: женский
                p Возраст: 38 лет
            .tab-profile__h.h-l Иванова Ирина Олеговна
            .tab-profile__contacts
                p г. Архангельск
                p Тел. 8 900 000 00 00
            .tab-profile__prev-bl
                .h-s О себе
                p Новая модель организационной деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации
            .tab-profile__prev-bl
                .h-s Пожелания
                p Новая модель организационной деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации
            .tab-profile__site
                strong Сайт персональный
                |
                |
                a(href="#" target="_blank") www.mypage.ru
    .tab-profile__portfolio
        .tab-profile__portfolio-head.flex
            .tab-profile__portfolio-h.h-m Портфолио
            a.tab-profile__portfolio-add(href="#") Добавить ссылку
        .tab-profile__portfolio-links
            a(href="#") Ссылка1
            br
            a(href="#") Ссылка2
            br
            a(href="#") Ссылка3
    .tab-profile__btns
        a.btn-link.profile-btn(href="#") Редактировать
        a.btn-link.profile-btn(href="#") Продвигать

// end .tab-profile