.tab.tab-service
    .tab-service-f
        .tab-service-f__head.flex.flex_sb
            div
                .h-m Вакансии
                p Доступно: 2
                p Активных: 2
                p Не активных: 4
            div
                a.btn-link.profile-btn(href="#") Добавть вакансию

        .tab-service-list
            .tab-service-r
                .tab-service-c1
                .tab-service-c2
                    .tab-service-obj.tab-service-obj_head
                        span Всего вакансий
                        span 23
                .tab-service-c3
                    .tab-service-ss.green
                        p 3 активных заказа

            .tab-service-r
                .tab-service-c1
                    input(type="checkbox")
                .tab-service-c2
                    a.tab-service-obj(href="#")
                        span Название вакансии
                        span Архангельск
                .tab-service-c3
                    .tab-service-ss.green
                        span Выделить
                        p до 23.04

            .tab-service-r
                .tab-service-c1
                    input(type="checkbox")
                .tab-service-c2
                    a.tab-service-obj(href="#")
                        span Название вакансии
                        span Архангельск
                .tab-service-c3
                    .tab-service-ss

            .tab-service-r
                .tab-service-c1
                    input(type="checkbox")
                .tab-service-c2
                    a.tab-service-obj(href="#")
                        span Название вакансии
                        span Архангельск
                .tab-service-c3
                    .tab-service-ss.red
                        span Первый
                        p до 23.04
    .tab-service-f
        .h-m Профиль
        .tab-service-prof.flex
            .tab-service-prof__l
                button.service-prof Ведущий работодатель
                .tab-service-prof__descr
                    p Размещение логотипа компании на главной странице и между вакансиями при поиске.
                    p Интерактивная ссылка на профиль работодателя
                .tab-service-prof__act Услуга активан до 23.04.2018
            .tab-service-prof__r
                div
                    strong 300 руб.
                    |
                    |
                    span одна неделя
                div Срок заказа в неделях
                input(type="number" min="0" value="1")
                div
                    strong к оплате 900 руб.
