.tab.tab-profile
    .tab-profile__cnt.flex
        .tab-profile__l
            .tab-profile__img(style="background-image:url('http://www.erogluholding.com/sites/default/files/eroglulogoyeni_0.png')")
                .tab-profile__rp ®
            .mess
                .mess__item.mess__item_green.flex
                    .mess__cnt 3
                    button.mess__btn Входящие
                .mess__item.mess__item_yellow.flex
                    .mess__cnt 0
                    button.mess__btn Важные
        .tab-profile__r
            .tab-profile__r-prev
                p Форма собственности
                p На сайте 1 год 11 месяцев
            .tab-profile__h.h-l Название организации
            .tab-profile__contacts
                p Архангельск, ул. Ленина, д. 12, оф. 22
                p Тел. 8 900 000 00 00
            .tab-profile__prev-bl
                .h-s Вид деятельности
                p Новая модель организационной деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации
            .tab-profile__prev-bl
                .h-s Дополнительные условия
                p Новая модель организационной деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации
            .tab-profile__site
                strong Сайт организации
                |
                |
                a(href="#" target="_blank") www.corp.ru
    .tab-profile__portfolio
        .tab-profile__portfolio-head.flex
            .tab-profile__portfolio-h.h-m Портфолио
            a.tab-profile__portfolio-add(href="#") Добавить ссылку
        .tab-profile__portfolio-links
            a(href="#") Ссылка1
            br
            a(href="#") Ссылка2
            br
            a(href="#") Ссылка3
    .tab-profile__btns
        a.btn-link.profile-btn(href="#") Редактировать
        a.btn-link.profile-btn(href="#") Продвигать
