- var nav = [{url: '#', name: 'Работа', parent: 'y'}, {url: '#', name: 'Услуги', parent: 'y'}, {url: '#', name: 'Регионы'}, {url: '#', name: 'Статьи'}, {url: '#', name: 'Помощь'}];

- var child = [{url: 'vacancies-list.html', name: 'вакансии', parent: 'Работа'},{url: 'rezume-list.html', name: 'резюме', parent: 'Работа'},{url: '#', name: 'конкурсы', parent: 'Работа'},{url: '#', name: 'организации', parent: 'Работа'},{url: '#', name: 'предложить услугу', parent: 'Услуги'},{url: '#', name: 'найти исполнителя', parent: 'Услуги'}]

mixin navItem(url, name, parent, current)
    li.header-menu__items
        a.header-menu__links(class=name==current ? 'header-menu__links_active' : '', class=parent=='y' ? 'js-menu-link' : '', href=url, title=name)= name
        if parent=='y'
            i.fa.fa-angle-down
            .header-menu__child-w.js-menu-child
                ul.header-menu__child
                    each item in child
                        if item.parent==name
                            li.header-menu__child-li
                                a.header-menu__child-a(href=item.url)= item.name