footer.footer
    .container
        .footer-cnt.flex.flex_sb
            .footer-c1
                .footer-c1__ttl Проект компании<br>ООО "Лидер поморья"
                .footer-c1__ul
                    .footer-c1__li
                        a(href="#") Пользовательское соглашение
                    .footer-c1__li
                        a(href="#") Соглашение об обработке<br>персональных данных
                    .footer-c1__li
                        a(href="#") Реквизиты
                    .footer-c1__li
                        a(href="#") Прайс-лист
                .footer-c1__btns
                    a.footer-c1__ya-dz(href="#" target="_black") Яндекс дзен
                    a.footer-c1__ya-tlgrm(href="#" target="_black") Телеграмм
            .footer-c2
                .footer-c2__ttl Информация
                .footer-c2__ul
                    .footer-c2__li
                        a(href="#") Работодателям
                    .footer-c2__li
                        a(href="#") Соискателям
                    .footer-c2__li
                        a(href="#") Раздел "Услуги"
                    .footer-c2__li
                        a(href="#") Наши новости
                    .footer-c2__li
                        a(href="#") Авторам
                .footer-c2__btns
                    //https://www.flaticon.com/packs/social-networks-logos-2
                    .footer-ss
                        a.footer-ss__item.footer-ss__item_vk(href="#" target="_black")
                        a.footer-ss__item.footer-ss__item_fb(href="#" target="_black")
                        a.footer-ss__item.footer-ss__item_ig(href="#" target="_black")
                        a.footer-ss__item.footer-ss__item_tw(href="#" target="_black")
            .footer-c3
                .footer-c3__ttl Производственный календарь
                //.footer-c3__calendar
                img(src="images/calendar2.png")
                //<script>var calendru_c='calendar__ttl';var calendru_mc='calendar__dates';var calendru_dc='calendar__h';var calendru_c_all='calendar__links';var calendru_n_l=0;var calendru_n_s=1;var calendru_n_d=0;var calendru_i_f=1;var calendru_show_names = 0;</script><script src=https://www.calend.ru/img/export/informer_new_theme1u.js?></script>
                //a.footer-c3__ttl2(href="#") Профессиональные<br>праздники
            .footer-c4
                .footer-logo(style="background-image:url('images/logo.png')")
                .footer-tel 8 800 000 00 00
                .footer-tel-sm 8 (000) 000 00 00
                a.footer-feedback(href="#") Написать нам
                br
                a.footer-tp(href="#") Техподдержка
                .footer-developers
                    a.footer-developers__link(href="https://f5-studio.ru/" target="_blank") DIGITAL-АГЕНТСТВО F5
