extends core/_template

append sharedVars
	- var activeMenu = '';
	- var ttl = 'Новости';

block title
	title=ttl

block content
	.workarea
		.page
			.page-body
				.container
					.page-wrapper.flex
						.sidebar-left
							include blocks/_sidebar-search
							include blocks/_sidebar-last-rezume
							include blocks/_sidebar-categories
							include blocks/_sidebar-vacan-contest
							include blocks/_news-sidebar-white

						.page-center
							.news-detail
								.news-detail__date 10.12.2017
								.news-detail__h.h-l Новая модель организационной деятельности
								.news-detail__prev Новая модель организационной деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации
								.news-detail__detail
									img(src="https://picsum.photos/1000/500")

									p Таким образом укрепление и развитие структуры влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Повседневная практика показывает, что реализация намеченных плановых заданий требуют определения и уточнения систем массового участия. Значимость этих проблем настолько очевидна, что консультация с широким активом влечет за собой процесс внедрения и модернизации модели развития.

									p Равным образом рамки и место обучения кадров влечет за собой процесс внедрения и модернизации систем массового участия. Равным образом консультация с широким активом позволяет оценить значение систем массового участия. Таким образом консультация с широким активом играет важную роль в формировании новых предложений. Не следует, однако забывать, что укрепление и развитие структуры требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. С другой стороны рамки и место обучения кадров способствует подготовки и реализации систем массового участия.

									blockquote Идейные соображения высшего порядка, а также реализация намеченных плановых заданий представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.

									p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке форм развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции в значительной степени обуславливает создание систем массового участия. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же реализация намеченных плановых заданий требуют от нас анализа форм развития.

									iframe(width="560" height="315" src="https://www.youtube.com/embed/P5csD0SX8jI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

									p Таким образом рамки и место обучения кадров представляет собой интересный эксперимент проверки систем массового участия. Идейные соображения высшего порядка, а также сложившаяся структура организации играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что сложившаяся структура организации играет важную роль в формировании соответствующий условий активизации.
									.news-detail__autor Автор или источник статьи
							include blocks/_read-also
						.sidebar-right Реклама
					include blocks/_services-prev

	//end workarea