extends core/_template

append sharedVars
	- var activeMenu = 'Резюме';

block title
	title=activeMenu

block content
	.workarea
		.page
			include blocks/_page-topline
			.page-body
				.container
					.flex
						.sidebar-left
							include blocks/_sidebar-search
							include blocks/_sidebar-categories
							include blocks/_sidebar-hot
							include blocks/_news-sidebar
							include blocks/_news-sidebar-white
						.page-center
							.rezume-detail
								.rezume-detail__head.flex
									.rezume-detail__citydate.text-right.
										Архангельск<br>
										12.12.2017
									.rezume-detail__img(style="background-image:url('https://picsum.photos/200')")
									div
										.rezume-detail__h.h-l Олегов Олег Олегович
										.rezume-detail__params.
											<strong>Статус:</strong> в активном поиске<br>
											<strong>Пол:</strong> мужской<br>
											<strong>Возраст:</strong> 34
								.rezume-detail__prev Новая модель организационной деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации Новая модель организационной деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации
								.rezume-detail__coments
									.flex
										.rezume-detail__coments-ttl Личные комментарии
										a.rezume-detail__coments-link(href="#") Добавить
								.icons-line.flex
									button.material-btns(href="#")
										i.material-icons favorite
									button.material-btns(href="#")
										i.material-icons save
									button.material-btns(href="#")
										i.material-icons print
									button.material-btns(href="#")
										i.material-icons email
								.rezume-detail__info
									.rezume-detail__info1.flex.flex_sb
										.rezume-detail__info11.
											Стаж по специальности: 10 лет<br>
											Из них руководящий: 5 лет<br>
											Образование: высшее техническое<br>
										.rezume-detail__info12.
											Водительское удостоверение категории В,С<br>
											Знание иностранного языка: немецкий, французский<br>
											Есть рекомендации<br>
											Уверенный пользователь ПК
										.rezume-detail__info-zp
											.rezume-detail__info-zpl з/плата
											.rezume-detail__info-zpp от 45 000
											div месяц
									.rezume-detail__info2.
										<strong>Дополнительно:</strong> Целеустремленный, активный, легко обучаюсь
								.rezume-detail__history
									.rezume-detail__history-h Предыдущие места работы
									.rezume-detail__history-row.flex
										.rezume-detail__history-c1.text-right май 2003 - июнь 2017
										.rezume-detail__history-c2.
											Организация - работодатель<br>
											Занимаемая должность
											Ключевые обязанности на этой должности
									.rezume-detail__history-row.flex
										.rezume-detail__history-c1.text-right октябрь 2001 - май 2003
										.rezume-detail__history-c2.
											Организация - работодатель<br>
											Занимаемая должность
											Ключевые обязанности на этой должности
									.rezume-detail__history-row.flex
										.rezume-detail__history-c1.text-right август 2002
										.rezume-detail__history-c2.
											Организация - работодатель<br>
											Занимаемая должность
											Ключевые обязанности на этой должности

								.rezume-detail__history
									.rezume-detail__history-h Образование
									.rezume-detail__history-row.flex
										.rezume-detail__history-c1.text-right закончено 2000<br>высшее
										.rezume-detail__history-c2.
											Название учебного зваедения<br>
											Факультет
											Специальность по диплому

									.rezume-detail__history-row.flex
										.rezume-detail__history-c1.text-right закончено 2000<br>среднее специальное
										.rezume-detail__history-c2.
											Название учебного зваедения<br>
											Факультет
											Специальность по диплому

								.rezume-detail__history
									.rezume-detail__history-h Другие знания и навыки
									.rezume-detail__history-row.flex
										.rezume-detail__history-c1
										.rezume-detail__history-c2.
											Работал Ключевые обязанности Ключевые обязанности Ключевые обязанности Ключевые обязанности

								.rezume-detail__history
									.rezume-detail__history-h Дополнительные сведения
									.rezume-detail__history-row.flex
										.rezume-detail__history-c1.
											женат<br>
											дочь 13 лет<br>
											сын 3 года<br>
										.rezume-detail__history-c2.
											Жена не работает Дополнительные сведения Дополнительные сведения Дополнительные сведения

								.rezume-detail__history
									.rezume-detail__history-h.color-green Пожелания соискателя
									.rezume-detail__history-row.flex
										.rezume-detail__history-c1.
											Тип работы постоянная<br>
											График работы 2/2<br>
											Оплата сдельная<br>
										.rezume-detail__history-c2.
											Дополнительные сведения Дополнительные сведения Дополнительные сведения
								div
									button.btn-green Показать контакты
									button.btn-green.js-open-send Предложить работу
									button.btn-green Позвонить
								.g-hidden
									#send.box-modal
										.box-modal_close.arcticmodal-close Закрыть
										.send-form
											.send-form__h Отправить отклик к резюме
											.send-form__prev.h-m Олегов Олег Олегович
											form.send-form__form
												.send-form__row
													.send-form__label Комментарии работодателя
													textarea.send-form__textarea(placeholder="Напишите комментарий")
												.send-form__row
													.send-form__label Ссылка на вакансию
													input.send-form__input(type="text")
												.send-form__row
													input.send-form__submit(type="submit" value="Отправить")

						.sidebar-right Реклама
	//end workarea